#container {
    width: 80vw;
    min-height: 150px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(239, 57%, 85%);
}

#content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

#to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

#class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

#input-class {
    width: 90%;
    border: none;
    height: 40px;
}
#input-from {
    width: 70%;
    border: none;
    height: 40px;
}
#input-to {
    width: 70%;
    border: none;
    height: 40px;
}
