#wrapper1 {
    min-height: 100vh;
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage {
     width: 100%;
     height: 100vh;
     margin: 0;
     background: linear-gradient(to left, rgb(237, 253, 255),rgb(210, 253, 210));
}

header {
    width: 100%;
    min-height: 10vh;
    margin: 0;
}

header > .col {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.header-container {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 10% 90%;
}

.header-container div.content{
    height: 90%;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.123);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 70% 30%;
}

.image-container {
    background-color: azure;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 90%;
    border-radius: 10px;
    background: yellowgreen;
    height: 40vh;
    border: 1px solid blue;
}