#container-wrapper {
    height: max-content;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

#container-wrapper > #wrapper1 {
    min-height: 100vh;
    height: max-content;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-wrapper > #wrapper2 {
    min-height: 100vh;
    height: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
