#container-wrapper {
    height: max-content;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#grish {
    height: max-content;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#submit {
    width: 100px;
}

#container-wrapper  > #grish > #wrapper1 {
    min-height: 90vh;
    height: max-content;
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-wrapper > #grish > #wrapper2 {
    min-height: 90vh;
    height: max-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-wrapper > #grish> #wrapper1 h1 {
    font-family: Poppins;
}
#container-wrapper  > #grish > #wrapper2 h1 {
    font-family: Poppins;
}

.homepage {
     width: 100%;
     height: 100vh;
     margin: 0;
     /* background: linear-gradient(to left, rgb(237, 253, 255),rgb(210, 253, 210)); */
}

header {
    width: 100%;
    min-height: 10vh;
    margin: 0;
    transition: box-shadow 0.5s ease-in-out;
}
.scrolled {
    background-color: rgba(255, 255, 255, 0.856);
    backdrop-filter: blur(10px);
    box-shadow: rgba(255, 153, 0, 0.26) 0px 7px 29px 0px;
    position: fixed;
    z-index: 1000;
    
}

header > .col {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

header nav a {
    color: gray;
    text-decoration: none;
}
.button-div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btns {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    margin: auto 20px;
    padding: 5px 20px;
    text-decoration: none;
}

.btn-login {
    background-color: rgba(218, 165, 32, 0.137);
    color: rgb(255, 153, 0);
}

.btn-view {
    background-color: rgb(255, 153, 0);
    color: white;
    border: 1px solid rgb(255, 153, 0);
}

/* HOME MAIN CONTENT */
.header-container {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 0.8em;
}
.logo div {
    padding: 5px;
}
.logo div img {
    height: 90%;
    width: 3vw;
    float: right;
}
.header-container div.content{
    height: 90%;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.123);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 70% 30%;
}

.image-container {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 80%;
    border-radius: 10px;
    height: 100%;
}


.features {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links-header {
    width: 80%;
}
.features > div {
    box-shadow: rgba(255, 153, 0, 0.26) 0px 7px 29px 0px;
    border-radius: 10px;
    height: 35vh;
    width: 30%;
    padding: 3vh 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.features-list ul {
    color: gray;
    width: 90%;
    padding: 0;
    display: flex;
    align-items: auto;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    list-style-type: none;
}

.ft {
    border: 2px solid rgb(255, 136, 0);
    padding: 2px 3px;
    border-radius: 15px;
    color: rgb(255, 72, 0);
}

.features-list ul li {
    border-left: 3px solid rgb(255, 166, 0);
    margin: auto 0;
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 1px 2px 1px rgba(5, 155, 142, 0.082);
}
.motive-container {
    color: gray;
}
footer {
    min-height: 50vh;
}
.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-col {
    width: fit-content;
    padding-left: 10vw;
}
.links-col div {
    width: fit-content;
    min-width: 30vw;
}
.copyright-container {
    text-align: center;
}

.marked {
    background-color: transparent;
    color: rgb(255, 153, 0);
}
