#new-task{
    width: 80vw;
    min-height: 150px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: hsl(239, 57%, 85%);
}

#inputs {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea, select{
    background-color: white;
    color: black;
    border: none;
}

.add{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(233, 81%, 37%);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.submit{
    background-color: hsl(123, 81%, 37%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    cursor: pointer;
}
