/* Apply styles to the form container */
.form-container {
    max-width: 300px;
    margin: 0 auto;
  }

  h2 {
    font-family: Poppins;
    text-align: center;
  }

  /* Apply styles to form elements */
  .form-group {
    margin-bottom: 20px;
  }

  .label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .submit-button {
    background-color: #0074cc;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

